@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Lato';
  background-color: #fbfbfb;
  color: rgb(40, 40, 40);
  margin: 0 10px 0 10px;
 
}

.grid-container {
  display: grid;
  grid-auto-columns: auto;
  grid-gap: 20px;
  width: 300px
}

h1 {
  font-weight: 800;
  font-size: 1.4em;
  margin: 5px 5px 5px 5px;
}

p {
  font-size: 0.8em;
  margin: 5px 5px 5px 5px;
}

h3 {
  font-weight: 600;
  font-size: 1.2em;
  margin: 10px 5px 10px 10px;
}

.description__header {
  margin: 23px 0 0 0;
}

form {
  font-weight: 400;
  font-size: 0.8em;
  margin: 20px 10px 10px 10px;
}

.card-container {
  background-color: #fbfbfb;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 2px;
}

input {
  border: none;
  background-color: #fbfbfb;
}

input[type="text"] {
  border-bottom: 1px solid rgb(194, 194, 194);
  width: 95%;
}

input[type="submit"] {
  justify-content: center;
  margin: 0 0 0 300px;
}

.title {
  font-weight: 700;
  border-bottom: 1px solid rgb(194, 194, 194);
  margin: 5px 5px 5px 5px;
  padding: 5px 0px 10px 5px;
}

.description {
  margin: 5px 5px 5px 5px;
  padding: 10px 0px 10px 5px;
}

.date {
  font-size: 0.8em;
  color: rgb(163, 163, 163);
  margin: 5px 5px 5px 5px;
  padding: 0px 0px 10px 5px;
}

.remove__btn {
  border: none;
  background-color: #fbfbfb;
}

.remove__btn:hover {
  border: none;
  background-color: #fbfbfb;
  color: red;
  transition-duration: 0.5s;
}

.complete__btn {
  border: none;
  background-color: #fbfbfb;
}

.complete__btn:hover {
  border: none;
  background-color: #fbfbfb;
  color: green;
  transition-duration: 0.5s;
}

.undo__btn {
  border: none;
  background-color: #fbfbfb;
}

.undo__btn:hover {
  border: none;
  background-color: #fbfbfb;
  color: green;
  transition-duration: 0.5s;
}

.todo-list {
  background-color: #fbfbfb;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 2px;
  margin: 5px 5px 5px 5px;
  
}

.todo p {
  font-size: 1.2em;
  font-weight: 900;
}

.complete p {
  font-size: 1.2em;
  font-weight: 900;
}

.complete .todo-list{
  opacity: 0.5;
  transition-duration: 2s;
}

.complete .todo-list:hover{
  opacity: 1;
  transition-duration: 0.3s;
}

@media screen and (max-width: 640px){

  body {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 200px;
  }

  .grid-container {
    width: 50px;
  }
}
